body {
  margin: 0;
  padding: 0;
  align-items: center;
  font-family: Barlow, sans-serif;
  background-image: url(../public/img/bcg.webp);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
